.inputNewCar {
    font: inherit;
    padding: 0.5rem;
    border-radius: 6px;
    border: 1px solid #ccc;
    width: 15rem;
    max-width: 100%;
}

.titleText {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    font: bold;
}